/*内容部分开始*/
.abmain1{
	overflow: hidden;
	height: 280px ;
	background: #02bdd5;
	text-align: center;
}
.abmain1 h1{
	margin-top: 140px;
	color: #fff;
	font-size: 40px;
}
.abmain1 p a,.abmain1 p span{
	color:#fff;
}
.abmain1 p{
	margin-top: 20px ;
}
.fulmx{
	overflow: hidden;
	width: 1170px ;
	margin:0 auto;
}
.mxl{
	float: left;
	width: 370px;
	height: 300px ;
}
.mxlt{
	margin-top: 100px ;
	height: 70px ;
	border: 1px solid gray;
	padding:18px;
}
.mxlt i{
	display: inline-block;
	/*height: 31px;*/
	border: 1px solid gray;
}
.mxlt input{
	height: 30px ;
	float: left;
    border: none ;  
}
#ilt{
	padding-left: 10px;
	width: 290px;
}
#irt{

	width: 33px;
	background:url("./images/s.png");
}
.mxlm{
	margin-top: 40px;
	/*height: 420px;*/
	width: 100%;
	border: 1px solid gray;
	padding:10px;
	text-align: center;
}
.mxlm>img{
	width: 100%;
}
.rpic{
	height: 90px;
	width: 90px;
	border-radius: 50%;
	padding: 1px;
	margin:0 auto;
	/*border: 1px solid red;*/
	transform: translateY(-47px);
}
.rpic img{
	height: 100%;
	border-radius: 50%;
	border: 3px solid #fff;
}
.mxlm h3{
	margin:10px 0 ;
}
.mxlm p{
	line-height: 25px;
	color: gray;
	font-size: 14px;
}
.rtext{
	transform: translateY(-40px);
}
.mxlb, .mxlmbb{
	text-align: left;
	padding: 30px 10px;
}
.mxlb p{
	display: inline-block;
	height: 40px ;
	width: 100%;
	line-height: 40px;
	border-bottom: 1px solid gray;
}
.mxlb p span{
	float: right;
	margin-top: 10px;
	display: inline-block;
	height: 20px;
	width: 20px ;
	line-height: 20px;
	text-align: center;
	border: 1px solid gray;
}
#blast{
	border:none;
}
.rec{
	margin-top: 20px;
}
.rec span{
	font-size: 14px ;
	color: gray;
}
.rec p{
	font-size: 16px;
	line-height: 25px;
}


.mxr{
	overflow: hidden;
	float: right;
	width: 760px ;
}
.fist,.second,.last{
	display: none;
}
.fbox{
	height: 580px;
}
.sbox{
	height: 510px;
}
.lbox{
	height: 650px;
}
.fm{
	width: 100%;
	margin-top: 100px;
}
.fm img{
	width: 100%;
}
.fm h1{
	margin:18px 0;
}
.fm span ,.fm span a{
	font-size: 14px;
	color:gray;
}
.fm p{
	line-height: 20px;
	margin:20px 0 18px 0 ;
}
.abox{
	display: inline-block;
	border: 1px solid #009ace;
}
.fm .abox a{
	display: inline-block;
	height: 40px;
	width: 150px ;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background:#009ace;
	border:1px solid #fff ;
}
.last{
	padding-bottom: 100px;
}